.box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
}

.icon {
  margin: 0.5rem 1rem;
  path {
    fill: gray;
    transition: all 0.2s ease-in-out;

    &:hover {
      fill: #d55c5c;
    }
  }
}
