.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
}

.link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  transition: all 0.2s ease-in-out;
}

.link:hover, .link.active:hover {
  background-color: #b8ffe5;
}

.link.active {
  background-color: #f2f2f2;
}
