.card {
  position: relative;
  aspect-ratio: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    position: absolute;
    right: 0;
  }

  .image_box{
    position: relative;
  }
}

.title {
  text-align: center;
  height: 2rem;
}

.link {
  color: #651010;
  font-weight: 600;
  &:hover {
    font-weight: 900;
    text-decoration: underline;
  }
}
